/* CSS Document */
body
{
margin:0;
padding:0;
font-family: 'Raleway', sans-serif;
}
img
{
max-width:100%;
}
a
{
text-decoration:none;
}
a:hover, a:focus, a:active
{
text-decoration:none;
outline:0;
}
li
{
list-style:none;
}
ul
{
padding:0;
margin:0;
}
.header {
    background: #f9f9f9;
}
.header .col-sm-2 {
    border-right: 1px solid #ccc;
}
.logo.border-right {
    padding: 10px 0px;
}
.top-links-left li
{
display:inline;
}
.top-links-left li a {
    display: block;
    float: left;
    padding: 26px 12px;
    color: #484848;
}
.right-top-links li {
    display: inline;
    padding: 16px 0px;
    float: left;
}
.right-top-links li a {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 15px;
    background: #efeb10;
    border-radius: 25px;
    color: #000;
}
h4#myModalLabel {
    text-align: center;
}
.facebook-btn {
    text-align: center;
    margin: 25px 0px;
}
.facebook-btn a {
    background: linear-gradient(-180deg,#5070b2 0%,#3e5d9d 100%);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.3), inset 0 1px 0 0 #96b1ea;
    padding: 15px 80px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.login-form-item {
    margin: 5px auto 7px auto;
    max-width: 300px;
}
.wings {
    font-style: italic;
    margin: 15px 0;
    text-align: center;
    position: relative;
}
.wings:before {
    left: 0;
    right: 50%;
    margin-right: 20px;
}
.wings:after {
    right: 0;
    left: 50%;
    margin-left: 20px;
}
.wings:before, .wings:after {
    top: 50%;
    border: 0;
    content: '';
    height: 1px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
        border-top: 1px solid #ccc;
}
.login-form-item {
    margin: 5px auto 7px auto;
    max-width: 90%;
}
.form-item label {
    text-align: left;
    line-height: 35px;
}
.form-item input {
    border-radius: 5px;
    border: 1px solid #cad7dc;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
}
.login-form-item input {
    width: 100%;
    display: block;
}
.login-form-item:last-of-type {
    margin-bottom: 0;
}
.login-form-item:last-child {
    padding-top: 5px;
}
.button-cta:last-of-type:first-of-type {
    margin-right: auto;
}
.login-form-item button {
    margin-top: 10px;
}
.small {
    font-size: 12px;
}
.button-lrg {
    font-size: 14px;
    padding: 15px 20px;
    margin-bottom: 4px;
    font-weight: 600;
}
.login-form-item button {
    margin-top: 15px;
}
.full-width {
    width: 100%;
}
.button-cta {
    color: #000;
    cursor: pointer;
    line-height: 1.4;
    border-radius: 5px;
    display: inline-block;
    box-sizing: border-box;
    letter-spacing: .05em;
    
    margin-right: 4px;
    text-align: center;
    white-space: nowrap;
    background: #efeb10;
	border: none;
    margin-bottom: 15px;
}
.modal-dialog {
    width: 480px;
    margin: 30px auto;
}
.hero-section
{
position:relative;
}
.over-content {
    position: absolute;
    top: 18%;
    width: 100%;
}
.over-content h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}
.over-inner p {
    font-size: 21px;
    color: #fff;
    width: 41%;
	margin-bottom:25px;
}
.over-inner a
{
display: inline-block;
    padding: 15px 20px;
    
    background:#efeb10;
    border-radius: 40px;
    color: #000;
	font-size:18px;
}
.over-inner a:hover
{
background: #000;
color:#fff;
}
.app-icon
{
margin-top:25px;
}
.app-icon img
{
margin-right:15px;
}
.services-section
{
padding:40px 0px;
}
.services-section h2
{
font-size:30px;
color:#333333;
margin-top:0px;
margin-bottom: 40px;
}
.service-pic {
    margin-bottom: 30px;
}
.service-pic {
    position: relative;
}
.service-over {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #fff;
    background: rgba(0,0,0,0.6);
}
.service-over p {
    margin-top: 10px;
}
.footer
{
padding:40px 0px;
background: #3a3d3e;
}
.footer-link li a {
    font-size: 13px;
    color: #fff;
    margin-bottom: 5px;
    display: block;
}
.footer h4
{
margin-bottom:20px;
color:#fff;
}
.footer-app
{
margin-top:25px;
}
.footer-app img
{
margin-right:20px;
vertical-align:middle;
}
.last {
    text-align: center;
    background: #333535;
    float: left;
    width: 100%;
}
.last p
{
font-size:13px;
color:#fff;
padding:15px 0px;
margin:0;
}
.footer-link li a:hover
{
color:#efeb10;
}
.how-to-use
{
float:left;
width:100%;
}
.how-left {
    float: left;
    width: 50%;
    padding-left: 7.5%;
	background:#efeb10;
	padding-top:8%;
	padding-bottom:8%;
}
.how-left h2
{
font-size:34px;
color:#000;
font-weight:700;
margin-bottom:20px;
}
.how-left p {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin-bottom: 39px;
}
.how-right
{
float:left;
width:50%;

}
.footer
{
float:left;
width:100%;
}
.how-left ul li
{
float:left;
margin-right:60px;
text-align:center;
}
.how-left ul {
    float: left;
    width: 100%;
    margin-bottom: 37px;
}
.how-left ul li span
{
display:block;
width:100%;
margin-top:10px;
font-size:18px;
color:#000;
font-weight:600;
}
.get-s-h
{
color:#000;
background:#fff;
padding:15px 30px;
float:left;
font-weight:600;
color:#000;
text-transform:uppercase;
border-radius:5px;
}
.how-to-use
{
position:relative;
}
.play-btn {
    position: absolute;
    left: 46%;
    top: 43.5%;
}
.why-use {
    padding: 40px 0px;
    float: left;
    width: 100%;
    background: #fff;
}
.why-use h2
{
margin-top:0;
margin-bottom:15px;
}
.feature-part
{
margin-top:30px;
}
.feature-part p
{
font-size:16px;
color:#000;
font-weight:600;
margin-bottom:10px;
margin-top:10px;
}
.why-head p
{
font-size:16px;
}
.earn-section
{
float:left;
width:100%;
background:url(../img/earn-bg.jpg);
background-repeat:no-repeat;
background-size:cover;
height:549px;
}
.earn-section h3
{
font-size:24px;
color:#000;
font-weight:700;
}
.earn-img {
    float: left;
    margin-right: 30px;
}
.earn-point
{
margin-bottom:30px;
}
.earn-section h3 {
    font-size: 24px;
    color: #000;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
}
.earn-point h4
{
font-size:16px;
color:#000;
font-weight:700;
}
.earn-point p
{
font-size:14px;
color:#484848;
font-weight:400;
}
.recent-task
{
padding:40px 0px;
text-align:center;
float:left;
width:100%;
background:#fff;
}
.recent-task h2
{
margin-top:0px;
}
.task-box {
    padding: 15px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 80px;
    margin-bottom: 20px;
}
img.human-pic {
    margin-top: -60px;
    margin-bottom: 20px;
}
.hero-section .item img {
    width: 100%;
}
.service-pic img {
    width: 100%;
}
.how-right img {
    width: 100%;
}
.right-top-links li a:hover {
    color: #fff;
    background: #000;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #efeb10;
}
.modal-body {
    position: relative;
    padding: 15px;
    background: #eee;
}
button#login-button:hover {
    background: #000;
    color: #fff;
}
textarea#post-task-description {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
	padding: 10px 15px;
}
.post-task-model .login-form-item {
    margin: 5px auto 7px auto;
    max-width: 100% !important;
}
.login-form-item input {
    width: 100%;
    display: block;
    font-size: 13px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 3px 5px #ccc;
}
.sub-content
{
display:block;
width:100%;
margin-bottom:10px;
font-size:13px;
color:#666;
}
a.forgot-password-link.small.center.margin-20-top {
    color: #000;
}
.funkyradio label {
    /*min-width: 400px;*/
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 15px;
	background:#fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
.funkyradio-default input[type="radio"]:checked ~ label:before, .funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}
.funkyradio-primary input[type="radio"]:checked ~ label:before, .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}
.funkyradio-success input[type="radio"]:checked ~ label:before, .funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}
.funkyradio-danger input[type="radio"]:checked ~ label:before, .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}
.funkyradio-warning input[type="radio"]:checked ~ label:before, .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}
.funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}
.funkyradio {
    margin-bottom: 10px;
    margin-top: -15px;
}
/* You can add global styles to this file, and also import other style files */
/*.loader {
    border: 16px solid #000;
    border-top: 16px solid yellow;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 99999;
    left: 50%;
    top:50%;
    position: absolute;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/
