    <div class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="logo border-right">
						<img src="/assets/images/logo.png" alt="yellotasker">
					</div>	
				</div>
				<div class="col-sm-5">
					<ul class="top-links-left">
						<li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
						<li><a href="#" data-toggle="modal" data-target="#myModal1">Sign up</a></li>
						<li><a href="#">How it works</a></li>
					</ul>
				</div>
				<div class="col-sm-5">
					<div class="right-top-links pull-right">
						<ul>
							<li><a href="#">Post a task</a></li>
							<li><a href="#">Browse a task</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
    </div>
 <router-outlet></router-outlet>

 <div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h4>Discover</h4>
					<ul class="footer-link">
						<li><a href="#">Yellotasker card</a></li>
						<li><a href="#">How it works</a></li>
						<li><a href="#">Yellotasker for business</a></li>
						<li><a href="#">Earn money</a></li>
						<li><a href="#">New user FAQ</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h4>Company</h4>
					<ul class="footer-link">
						<li><a href="#">About us</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Community guidelines</a></li>
						<li><a href="#">Terms & conditions</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contact us</a></li>
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#">Values</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h4>Existing Members</h4>
					<ul class="footer-link">
						<li><a href="#">Post a task</a></li>
						<li><a href="#">Browse tasks</a></li>
						<li><a href="#">Login</a></li>
						<li><a href="#">Yellotasker</a></li>
						<li><a href="#">Support centre</a></li>
						<li><a href="#">Merchandise</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h4>Categories</h4>
					<ul class="footer-link">
						<li><a href="#">Tradesman</a></li>
						<li><a href="#">Marketing and design</a></li>
						<li><a href="#">Home and garden</a></li>
						<li><a href="#">Delivery and removals</a></li>
						<li><a href="#">Fun and quirky</a></li>
						<li><a href="#">Event and photography</a></li>
						<li><a href="#">Computer it web</a></li>
						<li><a href="#">Business and admin</a></li>
					</ul>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<div class="footer-app">
						<img src="/assets/images/google-play.png" height="35px;"> <img src="/assets/images/apple-store.png" height="35px;">
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="last">
		<p>yellotasker 2017, All rights reserved</p>
	</div>