<a (click)="signupModal.show()">Sign Up</a>


<!--sign up modal pop up -->
<!--<app-modal #signupModal>
<div class="app-modal-header">
    
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Sign up</h4>
         
    
    <div class="login-div text-center">
	   <p>Already have an account? <a href="#">Login</a></p>
    </div>
    <div class="facebook-btn">
	   <a href="#">Sign up With Facebook</a>
     </div>
	<div class="login-form-item"><div class="wings">or</div></div>
	<form #signUpForm="ngForm">
		<div *ngIf="signUpForm.invalid && signUpForm.submitted"
          class="alert alert-danger">
		  Please enter required details.
		</div>
         <div class="form-item login-form-item">
	          <label class="block">FirstName</label>
              <input type="text" id="FirstName" name="FirstName" required
					[(ngModel)]="user.first_name" >
		  </div>
           <div class="form-item login-form-item">
				<label class="block">LastName</label>
                <input type="text" id="LastName" name="LastName" required
					[(ngModel)]="user.last_name" >
		    </div>
			<div class="form-item login-form-item"><label class="block">Email</label>
             <input type="email" placeholder="Enter email" name="email" required  [(ngModel)]="user.email"
                         pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  #email="ngModel">
                  
                        <span class="help-block"
                        *ngIf="signUpForm.submitted && email.errors">
                            <span *ngIf="email.errors?.required">
                                Email is required.
                            </span>
                            <span *ngIf="email.errors?.pattern">
                                Email format is invalid
                            </span>
                        </span>
			</div>
			<div class="form-item login-form-item"><label class="block">Password</label>
             <input type="password" placeholder="Enter Password" name="password" required [(ngModel)]="user.password"
               #password="ngModel" maxlength = "12" minlength="6">
                        <span class="help-block" *ngIf="password.errors && signUpForm.submitted" >
                            <span *ngIf="password.errors?.required">
                                password is required.
                            </span>
                            <span *ngIf="password.errors?.minlength || password.errors?.maxlength">
                            Password must contain between 6 - 12 characters
                             </span>
                        </span>
			</div>
            <div class="form-item login-form-item"><label class="block">Confirm Password</label>
            <input type="password" id="confirmpassword" name="confirmpassword" name="confirmpassword" required
					[(ngModel)]="user.confirmpassword"></div>
			<div class="form-item login-form-item center padder5">
                    <button id="login-button" class="button-cta button-lrg center full-width"
                    (click) = "onSubmit(loginForm, loginModal)">Join Yellotasker</button>
                    <a class="forgot-password-link small center margin-20-top">
                        By signing up, I agree to Yellotasker's Terms & Conditions, 
                    Privacy Policy and Community Guidelines.</a>
             </div>
		  </form>
      </div>
</app-modal>-->
<app-modal #signupModal>
<!--<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<div class="modal-content">-->
      <div class="app-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign up</h4>
      </div>
      <div class="app-modal-body">
			
			<div class="form-item login-form-item"><label class="block">FirstName</label><input type="text" id="email-input" name="firstname" value=""></div>
            <div class="form-item login-form-item"><label class="block">LastName</label><input type="text" id="email-input" name="lastname" value=""></div>
			<div class="form-item login-form-item"><label class="block">Email</label><input type="email" id="email-input" name="email" value=""></div>
			<div class="form-item login-form-item"><label class="block">Password</label><input type="password" id="password-input" name="password" value=""></div>
            <div class="form-item login-form-item"><label class="block">confirmPassword</label><input type="password" id="password-input" name="password" value=""></div>
			<div class="form-item login-form-item center padder5"><button id="login-button" class="button-cta button-lrg center full-width">Join Yellotasker</button></div>
		<div class="login-form-item"><div class="wings">or</div></div>
		<div class="login-div text-center">
				<p>Already have an account? <a href="#">Login</a></p>
			</div>
			<div class="facebook-btn">
				<a href="#">Sign up With Facebook</a>
			</div>
		    <a class="forgot-password-link small center margin-20-top">By signing up, I agree to Yellotasker's Terms & Conditions, 
Privacy Policy and Community Guidelines.</a>
      </div>
      
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
</app-modal>
