<div class="hero-section">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
       <img src="assets/images/banner.jpg" alt="...">
      
    </div>
    <div class="item">
      <img src="assets/images/banner.jpg" alt="...">
      
    </div>
	<div class="item">
      <img src="assets/images/banner.jpg" alt="...">
      
    </div>
   
  </div>

  <!-- Controls -->
  
</div>
		<div class="over-content">
			<div class="container">
				<div class="over-inner">
				<h1>Make life so simple</h1>
				<p>Getting Home Services has never been easy, 
				But Yellotasker makes it easy. Book your service
				in just three easy steps.</p>
				<a href="#">Get started now</a>
				</div>
				<div class="app-icon">
				<img src="assets/images/google-play.png" height="50px;"> <img src="assets/images/apple-store.png" height="50px;">
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="services-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2>What do you need done?</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="service-pic">
						<img src="assets/images/service1.jpg" alt="">
						<div class="service-over">
							<p>Life administration</p>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="service-pic">
						<img src="assets/images/service2.jpg" alt="">
						<div class="service-over">
							<p>Home administration</p>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="service-pic">
						<img src="assets/images/service3.jpg" alt="">
						<div class="service-over">
							<p>Moving stuff around</p>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="service-pic">
						<img src="assets/images/service4.jpg" alt="">
						<div class="service-over">
							<p>Event related stuff</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="service-pic">
						<img src="assets/images/service5.jpg" alt="">
						<div class="service-over">
							<p>Arranging for boots on the ground</p>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="service-pic">
						<img src="assets/images/service6.jpg" alt="">
						<div class="service-over">
							<p>Fitness and wellbeing</p>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="service-pic">
						<img src="assets/images/service7.jpg" alt="">
						<div class="service-over">
							<p>Digital tasks</p>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="service-pic">
						<img src="assets/images/service8.jpg" alt="">
						<div class="service-over">
							<p>Things that need research</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="how-to-use">
		<div class="how-left">
			<h2>How Yellotasker works</h2>
			<p>With Just Three Easy Steps</p>
			<ul>
				<li><img src="assets/images/step1.png">
					<span>Post a task </span>				</li>
				<li><img src="assets/images/step2.png">
					<span>Get bids</span>				</li>
					
				<li><img src="assets/images/step3.png">
					<span>Get it done</span>				</li>
			</ul>
			<a href="#" class="get-s-h">Get started today</a>		</div>
		<div class="how-right">
			<img src="assets/images/right-how.jpg" alt="">		</div>
		<div class="play-btn">
			<img src="assets/images/play.png">		</div>
	</div>
	
	<div class="why-use">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center why-head">
					<h2>Why use Yellotasker?</h2>
					<p>Lorem ipsum dolor sit amet is the dummy text for describing<br/>
website content lorem ipsum dolor is dummy text</p>
				</div>
			</div>
			<div class="row text-center feature-part">
				<div class="col-sm-4">
					<img src="assets/images/why1.png">
					<p>Free to post</p>
					<span>Lorem ipsum dolor sit amet is<br/>
the dummy text for describing
</span>
				</div>
				<div class="col-sm-4">
					<img src="assets/images/why2.png">
					<p>Secure payments</p>
					<span>Lorem ipsum dolor sit amet is<br/>
the dummy text for describing
</span>
				</div>
				<div class="col-sm-4">
					<img src="assets/images/why3.png">
					<p>Get It More</p>
					<span>Lorem ipsum dolor sit amet is<br/>
the dummy text for describing
</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="earn-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h3>Earn up to $5,000 per month<br/>
completing tasks</h3>
				</div>
			</div>
			<div class="row earn-point">
				<div class="col-sm-12">
					<div class="earn-img">
						<img src="assets/images/earn1.png">
					</div>
					<div class="earn-content">
						<h4>Number of workers</h4>
						<p>Lorem ipsum dolor sit amet is  the dummy<br/>
text for describing
</p>
					</div>
				</div>
			</div>
			<div class="row earn-point">
				<div class="col-sm-12">
					<div class="earn-img">
						<img src="assets/images/earn2.png">
					</div>
					<div class="earn-content">
						<h4>Number of workers</h4>
						<p>Lorem ipsum dolor sit amet is  the dummy<br/>
text for describing
</p>
					</div>
				</div>
			</div>
			<div class="row earn-point">
				<div class="col-sm-12">
					<div class="earn-img">
						<img src="assets/images/earn3.png">
					</div>
					<div class="earn-content">
						<h4>Number of workers</h4>
						<p>Lorem ipsum dolor sit amet is  the dummy<br/>
text for describing
</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="recent-task">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Recently Completed Task</h2>
				</div>
			</div>
			<div class="row task-comment text-center">
				<div class="col-sm-3">
					<div class="task-box">
						<img src="assets/images/task-person.png" alt="" class="human-pic">
						<p>Lorem ipsum dolor sit amet is hjl dsj 
the dummy text  describing dummy Lorem ipsum dolor sit amet is hjl dsj 
the dummy text for describing
</p>
					
					</div>
				</div>
				<div class="col-sm-3">
					<div class="task-box">
						<img src="assets/images/task-person.png" alt="" class="human-pic">
						<p>Lorem ipsum dolor sit amet is hjl dsj 
the dummy text  describing dummy Lorem ipsum dolor sit amet is hjl dsj 
the dummy text for describing
</p>
					
					</div>
				</div>
				<div class="col-sm-3">
					<div class="task-box">
						<img src="assets/images/task-person.png" alt="" class="human-pic">
						<p>Lorem ipsum dolor sit amet is hjl dsj 
the dummy text  describing dummy Lorem ipsum dolor sit amet is hjl dsj 
the dummy text for describing
</p>
					
					</div>
				</div>
				<div class="col-sm-3">
					<div class="task-box">
						<img src="assets/images/task-person.png" alt="" class="human-pic">
						<p>Lorem ipsum dolor sit amet is hjl dsj 
the dummy text  describing dummy Lorem ipsum dolor sit amet is hjl dsj 
the dummy text for describing
</p>
					
					</div>
				</div>
			</div>
			</div>
		</div>